*.suo
*.cache
*.lref
*.exe
*.pdb
*.dll
*.cache
*.nupkg
packages/LiveCharts.0.9.7/lib/net40/LiveCharts.xml
packages/LiveCharts.0.9.7/lib/portable-net45+win8+wp8/LiveCharts.XML
packages/LiveCharts.Wpf.0.9.7/lib/net45/LiveCharts.Wpf.XML
*.ps1
PortfolioTrackerApp/bin/Debug/LiveCharts.Wpf.xml
packages/LiveCharts.0.9.7/lib/net40/LiveCharts.xml
packages/LiveCharts.0.9.7/lib/portable-net45+win8+wp8/LiveCharts.XML
packages/LiveCharts.Wpf.0.9.7/lib/net40/LiveCharts.Wpf.XML
PortfolioTrackerApp/bin/Debug/LiveCharts.Wpf.xml
PortfolioTrackerApp/obj/Debug/PortfolioTrackerApp.exe
*.exe
*.baml
PortfolioTrackerApp/bin/Release/LiveCharts.Wpf.xml
*.db
PortfolioTrackerApp/obj/Release/AddDividendPopup.g.cs
PortfolioTrackerApp/bin/Release/LiveCharts.xml
PortfolioTrackerApp/obj/Release/AddPurchasePopup.g.i.cs
PortfolioTrackerApp/obj/Release/AddPurchasePopup.g.cs
PortfolioTrackerApp/obj/Release/AddDividendPopup.g.i.cs
PortfolioTrackerApp/bin/Release/Newtonsoft.Json.xml